<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{ title or metadata.title }}</title>
        <meta name="description" content="{{ description or metadata.description }}">
        <link rel="stylesheet" href="{{ '/style.css' | url }}">
        {% include 'partials/favicon.njk' %}
    </head>
    <body{% if templateClass %} class="{{ templateClass }}"{% endif %}>
      {% block siteHeader %}
        <header class="site-header">
          {% include 'partials/navigation.njk' %}
        </header>
      {% endblock %}
      {% block siteContent %}
        <div class="site-content">
            <div class="page-header">
                <h1>{{ title }}</h1>
            </div>
            <div class="page-content">
                {{ content | safe }}
            </div>
        </div>
      {% endblock %}
      {% block siteFooter %}
        <footer class="site-footer">
          {% include 'partials/footer.njk' %}
        </footer>
      {% endblock %}
    </body>
    <script type="text/javascript" src="{{ '/bundle.min.js' | url }}"></script>
</html>
